a {
  text-decoration: none;
}
#map {
  position: absolute;
  top: 0; left: 500px; bottom: 0; right: 0;
}
.sidebar {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0; left: 0; bottom: 0; width: 500px;
  border-right: 1px solid black;
  overflow-y: auto;
}
body.details > #details {
  display: block;
}
body.main > #main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#zoom-in-warning {
  text-align: center;
}
#zoom-in-warning.hide {
  display: none;
}

#map-key > div {
  display: flex;
}
pre {
  font-size: 8pt;
  min-width: 200px;
}
#status {
  border-top: 1px solid black;
  height: 5em;
  overflow: scroll;
}
#actions > div {
  cursor: pointer;
}

.properties-cmp {
  width: 100%;
  border-collapse: collapse;
}
.properties-cmp tr.correct {
  background: #afffaf;
}
.properties-cmp tr.wrong {
  background: #ffafaf;
}
.properties-cmp th,
.properties-cmp td {
  border: 1px solid black;
}
.properties-cmp th.property {
  width: 40%;
}
.properties-cmp select {
  width: 100%;
}
.properties-cmp td.osm,
.properties-cmp td.kat {
  width: 30%;
}
.closeButton {
  font-size: 16pt;
  padding-right: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

@media all and (max-width: 800px) {
  #map {
    position: absolute;
    top: 50%; left: 0; bottom: 0; right: 0;
  }
  .sidebar {
    position: absolute;
    top: 0; left: 0; height: 50%; right: 0; width: inherit;
    border-bottom: 1px solid black;
    border-right: none;
  }
}
